<div class="free-space-top"></div>

<div class="container" align="center">
  <div class="row" align="center">
    <div class="col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3 logo-block">
      
      <div class="row free-space-logo"></div>

      <a href="/eng/" class="my-logo">
        <div class="row">
          <div class="container my-logo">ALEXANDRA TSAREVA</div>
        </div>
        <div class="row">
          <div class="container my-logo cakes-and-sweets">cakes & sweets</div>
        </div>
      </a>

      <div class="row free-space-logo"></div>

      <div class="row">
        <div class="container my-logo">
          <a href="/" class="rus-eng <%= @default_language == 'rus' ? 'active':'' %>" title="Русская версия">рус</a>
           / 
          <a href="/eng/" class="rus-eng <%= @default_language == 'eng' ? 'active':'' %>" title="English version">eng</a>
        </div>
	    </div>
  
  		<div class="row free-space-logo"></div>
        
			<div class="row">
			  <div class="container my-logo">
			    <div class="col s1 m1 l1 xl1 offset-s1 offset-m1 offset-l1 offset-xl1">
			      <a href="#" class="soc-ico" title="Me on Instagram"><i class="fab fa-instagram fa-lg"></i></a>
			    </div>
			    <div class="col s1 m1 l1 xl1 offset-s2 offset-m2 offset-l2 offset-xl2">
			      <a href="#" class="soc-ico" title="Write me on Telegram"><i class="fab fa-telegram-plane fa-lg"></i></a>
			    </div>
			    <div class="col s1 m1 l1 xl1 offset-s2 offset-m2 offset-l2 offset-xl2">
			      <a href="#" class="soc-ico" title="Me on VK"><i class="fab fa-vk fa-lg"></i></a>
			    </div>
			    <div class="col s1 m1 l1 xl1 offset-s2 offset-m2 offset-l2 offset-xl2">
			      <a href="#" class="soc-ico" title="Sign in"><i class="material-icons" style="font-size: 22px; vertical-align: middle; text-shadow: none">fingerprint</i></a>
			    </div>
			  </div>
			</div>

			<div class="row free-space-logo-small"></div>

    </div>
  </div>
</div>

<div class="free-space-middle"></div>

<div id="sticky" class="sticky-element">
	<div class="sticky-anchor"></div>
		<div class="sticky-content">
			<div class="container" align="left">
				
			</div>
			
	</div>
</div>
<div class="free-space-middle"></div>