
<div class="free-space-top"></div>

<div class="container" align="center">
  <div class="row" align="center">
    <div class="col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3 logo-block z-depth-1 hoverable">
      
      <div class="row free-space-logo"></div>

      <a href="/" class="my-logo">
        <div class="row">
          <div class="container my-logo">ALEXANDRA TSAREVA</div>
        </div>
        <div class="row">
          <div class="container my-logo cakes-and-sweets">cakes & sweets</div>
        </div>
      </a>

      <div class="row free-space-logo"></div>

      <div class="row">
        <div class="container my-logo">
          <a href="/" class="rus-eng <%= @language == 'rus' ? 'active':'' %>" title="Русская версия">рус</a>
           / 
          <a href="/eng/" class="rus-eng <%= @language == 'eng' ? 'active':'' %>" title="English version">eng</a>
        </div>
	    </div>
  
  		<div class="row free-space-logo"></div>
        
			<div class="row">
			  <div class="container my-logo">
			    <div class="col s1 m1 l1 xl1 offset-s1 offset-m1 offset-l1 offset-xl1">
			      <a href="#" class="soc-ico" title="Мой Instagram"><i class="fab fa-instagram fa-lg"></i></a>
			    </div>
			    <div class="col s1 m1 l1 xl1 offset-s2 offset-m2 offset-l2 offset-xl2">
			      <a href="#" class="soc-ico" title="Написать мне в Telegram"><i class="fab fa-telegram-plane fa-lg"></i></a>
			    </div>
			    <div class="col s1 m1 l1 xl1 offset-s2 offset-m2 offset-l2 offset-xl2">
			      <a href="#" class="soc-ico" title="Мой VK"><i class="fab fa-vk fa-lg"></i></a>
			    </div>
			    <div class="col s1 m1 l1 xl1 offset-s2 offset-m2 offset-l2 offset-xl2">
			      <a href="#" class="soc-ico" title="Войти"><i class="material-icons" style="font-size: 22px; vertical-align: middle; text-shadow: none">fingerprint</i></a>
			    </div>
			  </div>
			</div>

			<div class="row free-space-logo-small"></div>

    </div>
  </div>
</div>

<div class="free-space-middle"></div>

<div id="sticky" class="sticky-element">
    <div class="sticky-anchor"></div>
    <div class="sticky-content">

    	<div class="nav-shop">
				<div class="row container center">
					
					<a href="#">
						<div class="container col s4 m4 l2 xl2 nav-shop-section left">Торты</div>
					</a>
					<a href="#">
						<div class="container col s4 m4 l2 xl2 nav-shop-section">Пирожные</div>
					</a>
					<a href='#'>
			    	<div class="container col s4 m4 l2 xl2 nav-shop-section">Капкейки</div>
			    </a>
			    <a href='#'>
						<div class="container col s4 m4 l2 xl2 nav-shop-section">Макаронс</div>
					</a>
					<a href='#'>
			    	<div class="container col s4 m4 l2 xl2 nav-shop-section">Сладости</div>
			    </a>
			    <a href='#'>
			    	<div class="container col s4 m4 l2 xl2 nav-shop-section right">Корзина(...)</div>
			    </a>
				</div>
			</div>

    </div>
</div>


<div class="free-space-middle"></div>

<div class="container">

	<div class="shop-section grid">
		<div class="shop-item grid" style="background-image: url(../images/Cakes/Banana-Cake1.jpg)"><span>Banana</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cakes/Cardamom-Carrot-Cake1.jpg)"><span>Cardamon carrot</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cakes/Chocolate-Cake1.jpg)"><span>Choco</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cakes/Gingersnap-Cake1.jpg)"><span>Gingersnap</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cakes/Lemon-Poppyseed-Cake1.jpg)"><span>Lemon poppyseed</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cakes/Mocha-Cake1.jpg)"><span>Mocha</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cakes/Vanilla-Bean-Cheesecake1.jpg)"><span>Vanilla bean cheesecake</span></div>
	</div>

	<div class="free-space-middle"></div>

	<div class="shop-section grid">
		<div class="shop-item grid" style="background-image: url(../images/Cupcakes/Birthday-Chocolate-Cupcake1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cupcakes/Lemon-Meringue-Cupcake1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cupcakes/Mojito-Cupcake1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cupcakes/Stout-Cupcake1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cupcakes/Birthday-Chocolate-Cupcake1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cupcakes/Mojito-Cupcake1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cupcakes/Lemon-Meringue-Cupcake1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Cupcakes/Mojito-Cupcake1.jpg)"><span>Title</span></div>
	</div>

	<div class="free-space-middle"></div>

	<div class="shop-section grid">
		<div class="shop-item grid" style="background-image: url(../images/LCakes/Chocolate-Madeleine1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/LCakes/Drunken-Pear-Scone-Bread1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/LCakes/Earl-Grey-Petit-Fours1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/LCakes/Gingersnap-Pumpkin-Cheesecake1.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/LCakes/Rebes-Chai-Spiced-Cardamom-Granola1.jpg)"><span>Title</span></div>
	</div>

	<div class="free-space-middle"></div>

	<div class="shop-section grid">
		<div class="shop-item grid" style="background-image: url(../images/Test/Test3.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Test/Test3.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Test/Test3.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Test/Test3.jpg)"><span>Title</span></div>
		<div class="shop-item grid" style="background-image: url(../images/Test/Test3.jpg)"><span>Title</span></div>
	</div>

</div>

	

<script type="text/javascript" src="/vendor/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>

<script>
	$(document).ready(function() {
	    $('select').material_select();
	});

</script>