
<div class="free-space-top"></div>

<div class="container" align="center">
  <div class="row" align="center">
    <div class="col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3 logo-block z-depth-2 hoverable">
      
      <div class="row free-space-logo"></div>

      <a href="/" class="my-logo">
        <div class="row">
          <div class="container my-logo">ALEXANDRA TSAREVA</div>
        </div>
        <div class="row">
          <div class="container my-logo cakes-and-sweets">cakes & sweets</div>
        </div>
      </a>

      <div class="row free-space-logo"></div>

      <div class="row">
        <div class="container my-logo">
          <a href="/" class="rus-eng <%= @default_language == 'rus' ? 'active':'' %>" title="Русская версия">рус</a>
           / 
          <a href="/eng/" class="rus-eng <%= @default_language == 'eng' ? 'active':'' %>" title="English version">eng</a>
        </div>
	    </div>
  
  		<div class="row free-space-logo"></div>
        
			<div class="row">
			  <div class="container my-logo">
			    <div class="col s1 m1 l1 xl1 offset-s1 offset-m1 offset-l1 offset-xl1">
			      <a href="#" class="soc-ico" title="Мой Instagram"><i class="fab fa-instagram fa-lg"></i></a>
			    </div>
			    <div class="col s1 m1 l1 xl1 offset-s2 offset-m2 offset-l2 offset-xl2">
			      <a href="#" class="soc-ico" title="Написать мне в Telegram"><i class="fab fa-telegram-plane fa-lg"></i></a>
			    </div>
			    <div class="col s1 m1 l1 xl1 offset-s2 offset-m2 offset-l2 offset-xl2">
			      <a href="#" class="soc-ico" title="Мой VK"><i class="fab fa-vk fa-lg"></i></a>
			    </div>
			    <div class="col s1 m1 l1 xl1 offset-s2 offset-m2 offset-l2 offset-xl2">
			      <a href="#" class="soc-ico" title="Войти"><i class="material-icons" style="font-size: 22px; vertical-align: middle; text-shadow: none">fingerprint</i></a>
			    </div>
			  </div>
			</div>

			<div class="row free-space-logo-small"></div>

    </div>
  </div>
</div>

<div class="free-space-middle-top"></div>

<div id="sticky" class="sticky-element">
    <div class="sticky-anchor"></div>
    <div class="sticky-content">

    	<div class="nav-shop">
				<div class="row container center">
					
					<a href="#">
						<div class="container col s6 m6 l2 xl2 nav-shop-section left">Торты</div>
					</a>
					<a href="#">
						<div class="container col s6 m6 l2 xl2 nav-shop-section">Пирожные</div>
					</a>
					<a href='#'>
			    	<div class="container col s6 m6 l2 xl2 nav-shop-section">Капкейки</div>
			    </a>
			    <a href='#'>
						<div class="container col s6 m6 l2 xl2 nav-shop-section">Макаронс</div>
					</a>
					<a href='#'>
			    	<div class="container col s6 m6 l2 xl2 nav-shop-section">Сладости</div>
			    </a>
			    <a href='#'>
			    	<div class="container col s6 m6 l2 xl2 nav-shop-section right">Корзина(...)</div>
			    </a>
				</div>
			</div>

    </div>
</div>


<div class="free-space-middle-bot"></div>

<div class="shop-table">

	<div class="row container center">
		<div class="shop-table-header">
			<h3>Торты&#8195;</h3>
		</div>
	</div>

	<div class="row container center">
		<div class="container col s12 m6">
			<div class="shop-card-holder z-depth-1 hoverable">
				<img class="shop-card-holder" height="420 px" width="100%" src="/images/Cakes/Banana-Cake1.jpg" alt="Banana Cake">
				<div class="container shop-table-name"><h3>Banana Cake</h3></div>
				<div class="shop-card-info">
					<div class="description"></div>
				</div>
			</div>
		</div>
		<div class="container col s12 m6">
			<div class="shop-card-holder z-depth-1 hoverable">
				<img class="shop-card-holder" height="420 px" width="100%" src="/images/Cakes/Cardamom-Carrot-Cake1.jpg" alt="Cardamom Carrot Cake">
				<div class="container shop-table-name"><h3>Cardamom Carrot Cake</h3></div>
				<div class="shop-card-info">
					<div class="description"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="free-space-middle-top"></div>

	<div class="row container center">
		<div class="container col s12 m6">
			<div class="shop-card-holder z-depth-1 hoverable">AAAAAA!!!!!!!!
				<div class="shop-card-info">
					<div class="description"></div>
				</div>
			</div>
		</div>
		<div class="container col s12 m6">
			<div class="shop-card-holder z-depth-1 hoverable">BBBBBB!!!!!!!!!!!
				<div class="shop-card-info">
					<div class="description"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row container center">
		<div class="free-space-middle-bot"></div>
	</div>

	<div class="row container center">
		<div class="shop-table-header">
			<h3>Пирожные&#8195;</h3>
		</div>
	</div>

	<div class="row container center">
		<div class="container col s12 m6">
			<div class="shop-card-holder z-depth-2 hoverable">AAAAAA
				<div class="shop-card-info">
					<div class="description"></div>
				</div>
			</div>
		</div>
		<div class="container col s12 m6">
			<div class="shop-card-holder z-depth-2 hoverable">BBBBBB
				<div class="shop-card-info">
					<div class="description"></div>
				</div>
			</div>
		</div>
	</div>

</div>

	

<script type="text/javascript" src="/vendor/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>

<script>
	$(document).ready(function() {
	    $('select').material_select();
	});

</script>