<!DOCTYPE html>
<html>
	<head>
		<title>Alexandra Tsareva : Cakes & Sweets (Sinatra version)</title>
			
			<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import Fonts-->
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lato|Open+Sans" rel="stylesheet"> 

      <!--Import materialize.css         &#8195;&#8195;-->
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
      
      <!--Import css file-->
      <link type="text/css" rel="stylesheet" href="/css/main.css"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
	</head>
	
	<body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse brand-logo center"><i class="material-icons">menu</i></a>
        <ul class="brand-logo center hide-on-med-and-down">
          <li><a href="#" class="first-nav-link">&#8195;&#8195;Обо мне&#8195;&#8195;</a></li>
          <li><a href="#" class="first-nav-link">&#8195;&#8195;О заказе и оплате&#8195;&#8195;</a></li>
          <li><a href="#" class="first-nav-link">&#8195;&#8195;Блог&#8195;&#8195;</a></li>
          <li><a href="#" class="first-nav-link">&#8195;&#8195;Контакты&#8195;&#8195;</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#">Обо мне</a></li>
          <li><a href="#">О заказе и оплате</a></li>
          <li><a href="#">Блог</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </nav>

    <div>
      <%= yield %>
    </div>

  	<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/vendor/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>

    <!--Import vanilla.js-->
    <script type="text/javascript" src="/js/app.js"></script>

  </body>

</html>
