/*
font-family: 'Amatic SC', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* -------------------- BASIC shit -------------------- */
html{

}

body {
	height: 1500px;
}

/* -------------------- NAVIGATION TOP max-width: 1385px -------------------- */
@media only screen and (max-width: 1385px) {
  .hide-on-med-and-down {
    display: none !important;
  }
  nav a.button-collapse {
  display: block !important;
	}
}

nav {
	font-family: Amatic SC;
	font-weight: bold;
	background: #FFFFFF;
}
nav .brand-logo {
  color: #555555;
}

a.first-nav-link {
		font-size: 60%;
		color: #555555;
}

/* -Выезжающая навигация сверху- */
.side-nav {
	width: 250px;

}
.side-nav li > a {
  font-size: 18px;
  font-weight: bold;
}
p.side-navigation {
	height: 100px;
}

