/*
font-family: 'Amatic SC', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* -------------------- BASIC shit -------------------- */
html{
	min-height: 100%;
}

body {
	height: 3000px;
	background: #fff;
  
}

div.row {
	margin-top: 0;
	margin-bottom: 0;
}

div.col {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


/* -------------------- NAVIGATION TOP max-width: 1575px -------------------- */
@media only screen and (max-width: 1575px) {
  .hide-on-med-and-down {
    display: none !important;
  }
  nav a.button-collapse {
  display: block !important;
	}
}

nav {
	height: 64px;
	font-family: Cuprum;
	font-weight: light;
	background: transparent;
	box-shadow: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
nav .brand-logo {
  color: #65737e;
}

a.first-nav-link {
		font-size: 50%;
		color: #65737e;
		letter-spacing: 2px;
}

/* -------------------- NAVIGATION SHOP max-width: 1575px -------------------- */
.sticky-content{
	background: transparent;
  padding: 0;
}
.sticky-content.fixed{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  pading: 0;
}

div .nav-shop {
	display: block;
	height: 64px;
	
	cursor: pointer;
  padding: auto;
  text-align: center;
}
div .nav-shop-section {
	background: rgba(250, 250, 250, 0.9);
	display: flex;
  align-items: center;
  justify-content: center;
	height: 64px;
  margin: 0 0;
  
	font-family: Cuprum;
	font-weight: light;
	font-size: 100%;
	color: #65737e;
	letter-spacing: 2px;

	transition: 0.3s;
}

div .nav-shop-section:hover {
	background-color: rgba(240, 240, 240, 0.9);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 1px;
}

/* -Выезжающая навигация сверху- */
.side-nav {
	width: 230px;
}
.side-nav li > a {
  font-size: 100%;
  font-weight: light;
  letter-spacing: 2px;
}
p.side-navigation {
	height: 100px;
}


div.free-space-top {
	height: 80px;
}

/* -------------------- LOGO GOES HERE -------------------- */
div.free-space-logo {
	height: 80px;
	margin: 0;
}
div.free-space-logo-small {
	height: 20px;
	margin: 0;
}
div.logo-block {
    background-image: linear-gradient(20deg, #FCA5F1, #B5FFFF);
		border: 5px solid #4b5c6c;
		font-family: Amatic SC;
		letter-spacing: 10px;
  	transition: 0.5s;
}
div.logo-block:hover {
		border: 5px solid #343d46;
}
div.my-logo {
	padding: : auto !important;
	margin: auto !important;
}
a.my-logo {
		color: #343d46;
		font-size: 350%;
		text-shadow: 1px 1px 2px #65737e;
		letter-spacing: 10px;
}
div.cakes-and-sweets {
		font-family: Amatic SC;
		font-size: 50%;
		letter-spacing: 10px;
		text-shadow: none;
}
a.rus-eng {
		color: #343d46;
		font-family: Amatic SC;
		font-size: 100%;
		letter-spacing: 10px;
		text-shadow: none;
}
a.rus-eng:hover { 
	color: #FFFFFF; 
	text-shadow: 1px 1px 2px 1px #65737e;
}
a.rus-eng.active { 
	color: #FFFFFF;
	text-shadow: 1px 1px 2px 1px #65737e;
	}
a.rus-eng::visited { 
	color: #FFFFFF;
	text-shadow: 1px 1px 2px 1px #65737e;
}

/* -------------------- Social icons -------------------- */
a.soc-ico {
		color: #343d46;
		font-size: 16px;
		text-shadow: 1px 1px 10px 1px #dadde2;
}
a.soc-ico :hover {
		color: #FFFFFF;
		text-shadow: 1px 1px 2px 1px #65737e;
}

/* -------------------- MAIN SHIT GOES HERE max-width: 1575px -------------------- */

div.free-space-middle {
	height: 80px;
}


/* -------------------- FOOTER max-width: 1385px -------------------- */
div.free-space-bottom {
	height: 64px;
}