/*
font-family: 'Amatic SC', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* -------------------- BASIC shit -------------------- */
html{
	min-height: 100%;
}

body {
	height: 2000px;
	background: #ffffff;
}

div.row {
	margin-bottom: 0;
}

/* -------------------- NAVIGATION TOP max-width: 1385px -------------------- */
@media only screen and (max-width: 1575px) {
  .hide-on-med-and-down {
    display: none !important;
  }
  nav a.button-collapse {
  display: block !important;
	}
}

nav {
	height: 64px;
	vertical-align: bottom;
	font-family: Amatic SC;
	font-weight: bold;
	background: #ffffff;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
nav .brand-logo {
  color: #65737e;
}

a.first-nav-link {
		font-size: 60%;
		color: #65737e;
		letter-spacing: 2px;
}

/* -------------------- NAVIGATION SHOP max-width: 1385px -------------------- */
.sticky-content{
	background: transparent;
	height: 100px;
  padding: 10px;

}

.sticky-content.fixed{
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  pading: 10px;
}

.nav-shop {
	height: 64px;
	font-family: Amatic SC;
	font-weight: bold;
	font-size: 19px;
	color: #65737e;
	margin: auto;
	padding: 0rem;
	cursor: pointer;
	bottom: 0;
		box-shadow: 0px 5px 4px 0px rgba(52, 61, 70, 0.5);
	-moz-box-shadow: 0px 5px 4px 0px rgba(52, 61, 70, 0.5);
	-webkit-box-shadow: 0px 5px 4px 0px rgba(52, 61, 70, 0.5);
			  -webkit-transform: rotate(-1.5deg);
		  -moz-transform: rotate(-1.5deg);
		  -o-transform: rotate(-1.5deg);
		  -ms-transform: rotate(-1.5deg);
		  transform: translateY(30px) skewY(-1.5deg);
}
a.nav-shop-link {
		font-size: 85%;
		color: #65737e;
		letter-spacing: 2px;
}
/* -Выезжающая навигация сверху- */
.side-nav {
	width: 250px;
}
.side-nav li > a {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
p.side-navigation {
	height: 100px;
}

div.free-space-top {
	height: 64px;
}

/* -------------------- LOGO GOES HERE -------------------- */
div.free-space-logo {
	height: 80px;
	margin: 0;
}
div.free-space-logo-small {
	height: 20px;
	margin: 0;
}
div.logo-block {
    background-image: linear-gradient(20deg, #FCA5F1, #B5FFFF);
		vertical-align: bottom;
		border: 5px solid #343d46;
		font-family: Amatic SC;
		color: #343d46;
		letter-spacing: 10px;
}
div.my-logo {
	padding: : auto !important;
	margin: auto !important;
}

a.my-logo {
		font-size: 350%;
		text-shadow: 1px 1px 2px #65737e;
		color: #343d46;
		letter-spacing: 10px;
}
div.cakes-and-sweets {
		font-family: Amatic SC;
		font-size: 50%;
		letter-spacing: 10px;
		text-shadow: none;
}
a.rus-eng {
		font-family: Amatic SC;
		font-size: 100%;
		letter-spacing: 10px;
		text-shadow: none;
		color: #343d46;
}
a.rus-eng:hover { 
	color: #FFFFFF; 
	text-shadow: 1px 1px 2px 1px #65737e;
}
a.rus-eng:active { 
	color: #FFFFFF;
	text-shadow: 1px 1px 2px 1px #65737e;
	}
a.rus-eng.active { 
	color: #FFFFFF;
	text-shadow: 1px 1px 2px 1px #65737e;
	}
a.rus-eng::visited { 
	color: #FFFFFF;
	text-shadow: 1px 1px 2px 1px #65737e;
}

/* -------------------- Social icons -------------------- */
a.soc-ico {
		color: #343d46;
		font-size: 16px;
		text-shadow: 1px 1px 10px 1px #dadde2;
}
a.soc-ico :hover {
		color: #FFFFFF;
		text-shadow: 1px 1px 2px 1px #65737e;
}

/* -------------------- MAIN SHIT GOES HERE max-width: 1385px -------------------- */
div.free-space-middle {
	height: 64px;
}

div.my-shit {
background-color: #ffffff;
		vertical-align: middle;
		border: none;
		box-shadow: none;
}
div.my-shit:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* -------------------- FOOTER max-width: 1385px -------------------- */
div.free-space-bottom {
	height: 64px;
}